/* ---------- ESTILOS GENERALES ---------- */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #226459, #f5f385);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.formulario {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  width: 350px;
}

h2 {
  text-align: center;
  color: #2d3436;
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #2d3436;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #b2bec3;
  border-radius: 8px;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #0984e3;
  box-shadow: 0 0 4px #0984e3;
}

.boton {
  background-color: #0984e3;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.boton:hover {
  background-color: #74b9ff;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 10px;
}
